extends ../shared/template
block content
  h1 View People
  table
    thead
      tr
        th Name
        th Photo
        th Cash
        th Assets
        th Total
        th Set Free
    tbody
      each person in people
        tr(data-person-id=person._id.toString())
          td.name: a(href='/people/#{person._id}')= person.name
          td.photo(style='background-image:url("#{person.photo}");')
          td.cash $#{person.cash.toFixed(2)}
          td.assets $#{person.assetValue * 1}
          td.total $#{(person.assetValue * person.cash) * 1}
          td
            form(method='post', action='/people/#{person._id}')
              input(type='hidden', name='_method', value='delete')
              button Set #{person.name} Free

