extends ../shared/template
block content
  h1 #{person.name}'s Assets
  h3 Cash: $#{person.cash}
  h3 Assets: $#{person.assetValue}
    h2 Items
      button: a(href='/people/' + person._id + '/items/new') Add New Item
      br
      table#items
        thead
          tr
            th Name
            th Photo
            th Price
            th Count
            th Total
        tbody
          each item in person.items
            tr
              td= item.name
              td.itemphoto(style='background-image: url(#{item.photo});')
              td $#{item.price}
              td= item.count
              td $#{(item.count * item.price) * 1}
